.form-departamento {
  max-width: 400px;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

  h3 {
    text-align: center;
    color: #0b5ed7;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-weight: 500;
      margin-bottom: 5px;
      color: #333;
    }

    input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 14px;
      transition: border-color 1s;

      &:focus {
        border-color: #0b5ed7;
        outline: none;
        box-shadow: 0 0 3px rgba(11, 94, 215, 0.4);
      }
    }
  }

  button {
    width: 100%;
    background: linear-gradient(90deg, #0b5ed7, #004aad);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: background 20s ease;

    &:hover {
       background: linear-gradient(90deg, #004aad, #002e6e);
    }

    &:active {
      transform: scale(0.98);
    }
  }
}
