<nav class="navbar">
  <h1 class="logo">Sistema de Vagas</h1>
  <ul class="menu">
    <li>
      <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Vagas</a>
    </li>
    <li>
      <a routerLink="/lista-gestores" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Gestores</a>
    </li>
    <li>
      <a routerLink="/lista-departamento" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Departamentos</a>
    </li>
    <li>
      <a routerLink="/nova-vaga" routerLinkActive="ativo" [routerLinkActiveOptions]="{ exact: true }">Formulário</a>
    </li>
  </ul>
</nav>
